/*
================================
幅や高さなど、ピクセル値の設定エリア
================================
*/
// タイトルバーの基本設定
$titlebar-width: 100%;
$titlebar-height: 32px;
$titlebar-button-width: 48px;
$titlebar-button-height: 32px;

// ボーダーの基本設定
$border-line-width: 1px;